@model ML.Estadistica

@{
    ViewData["Title"] = "Estadistica";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<h1>Estadistica</h1>
@section scripts{
<!DOCTYPE HTML>
<html>
<head>
<script type="text/javascript">
window.onload = function () {

var options = {
	title: {
		text: "Venta en Cines por Zona"
	},
	subtitles: [{
		text: "Periodo 2023"
	}],
	animationEnabled: true,
	data: [{
		type: "pie",
		startAngle: 40,
		toolTipContent: "<b>{label}</b>: {y}%",
		showInLegend: "true",
		legendText: "{label}",
		indexLabelFontSize: 16,
		indexLabel: "{label} - {y}%",
		dataPoints: [
            
			{ y: @Model.PorcentajeN , label: "Zona Norte" },
			{ y: @Model.PorcentajeS, label: "Zona Sur" },
			{ y: @Model.PorcentajeE, label: "Zona Este" },
			{ y: @Model.PorcentajeO, label: "Zona Oeste" },
			
		]
	}]
};

$("#chartContainer").CanvasJSChart(options);
}

</script>
</head>
<body>
<div id="chartContainer" style="height: 400px; width: 50%;"></div>
<script src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
<script src="https://canvasjs.com/assets/script/jquery.canvasjs.min.js"></script>
</body>
</html>
  <div id="map"></div>
   
  <script async  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCSKBDdPPlfca_zTwyxKiicRQn1qfgRjLw&callback=initMap"></script>
  

 
<script type="text/javascript">
function initMap() {
    // The location of Uluru
    const uluru = { lat: 19.430437, lng: -99.161288 };
    // The map, centered at Uluru
    const map = new google.maps.Map(document.getElementById("map"), {
        zoom: 14,
        center: uluru,
    });
                   
    // Create the initial InfoWindow.
    let infoWindow = new google.maps.InfoWindow({
        content: "Selecciona cualquier parte del mapa para obtener tu lat y long",
        position: uluru,
    });

    infoWindow.open(map);
    //obtener direccion 
                google.maps.event.addListener(map, 'click', function (event) {
                    var geocoder = new google.maps.Geocoder();
                    geocoder.geocode({
                        'latLng': event.latLng
                    }, function (results, status) {
                        if (status == google.maps.GeocoderStatus.OK) {
                            if (results[0]) {
                                $("#txtDireccion").val(results[0].formatted_address);
                            }
                        }
                    }); 
                });
   
    // Configure the click listener.
    map.addListener("click", (mapsMouseEvent) => {
        // Close the current InfoWindow.
        infoWindow.close();
        // Create a new InfoWindow.
        infoWindow = new google.maps.InfoWindow({
            position: mapsMouseEvent.latLng,
        });
        infoWindow.setContent(
            JSON.stringify(mapsMouseEvent.latLng.toJSON(), null, 2)
        );
        infoWindow.open(map);
        var Latitud = mapsMouseEvent.latLng.lat();
        var Longitud = mapsMouseEvent.latLng.lng();
        $("#txtLatitud").val(Latitud);
        $("#txtLongitud").val(Longitud);
    });
    
        
}

    window.initMap = initMap;

</script>
 
         
}